/*
* @Author: IEasy
* @Date:   2017-04-13 10:35:50
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-30 17:08:18
*/
.clearfix::before, .goodsCart .waitGoodsCart-item label::before, .waitGoods-list .waitGoods-item a::before, .clearfix::after, .goodsCart .waitGoodsCart-item label::after, .waitGoods-list .waitGoods-item a::after {
  content: "";
  display: table;
}
.clearfix::after, .goodsCart .waitGoodsCart-item label::after, .waitGoods-list .waitGoods-item a::after {
  clear: both;
}

.settlementBox {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.waitGoods-wrap .waitGoods-header, .waitGoods-list .waitGoods-item, .goods-NumPrice, .orderDetails-wrap .orderDetails-header, .orderDetails-wrap .orderDetails-header-info {
  position: relative;
}
.waitGoods-wrap .waitGoods-header::after, .waitGoods-list .waitGoods-item::after, .goods-NumPrice::after, .orderDetails-wrap .orderDetails-header::after, .orderDetails-wrap .orderDetails-header-info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.mainImg-info, .userTitle {
  position: relative;
}
.mainImg-info::before, .userTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  z-index: 1;
}
.mainImg-info::after, .userTitle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.waitGoods-list .waitGoods-item-img {
  position: relative;
}
.waitGoods-list .waitGoods-item-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  border: 1px solid #dbdbdb;
}

.userHeader-address::after, .SearchResult-list-item .jt-right::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #ccc;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
  box-sizing: border-box;
}

.userHeader-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.goodsNav-goodsInfo-left_btn, .order-control button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 1em;
  white-space: nowrap;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:13:39
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-13 17:05:50
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Seogoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: #08c;
}
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle;
}

button,
input,
select {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

input,
select,
textarea,
button {
  outline: 0;
}

textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

.placeholder {
  color: #999;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/*
* @Author: Administrator
* @Date:   2017-04-14 18:19:37
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-14 18:31:55
*/
html {
  font-size: 16px;
}

@media screen and (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586);
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400);
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
  }
}
/*
* @Author: Administrator
* @Date:   2017-04-13 10:15:09
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-04 14:23:32
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
}

.header {
  height: 2.75rem;
  background-color: #086347;
  z-index: 1000;
  top: 0;
}
.header-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2.9062rem;
  margin: 1.3125rem;
}
.header-logo-title {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: inherit;
  height: 1.625rem;
  color: transparent;
  background: url(../images/logo.png) no-repeat center;
  background-size: 100%;
}
.header-user {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3.6562rem;
  height: inherit;
  padding: 0.5938rem 0 0 1.3438rem;
}
.header-user img {
  width: 1.5rem;
}
.header-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5.5625rem;
  right: 3.6562rem;
  margin: auto;
  height: 1.75rem;
  border-radius: 5px;
  background-color: #fff;
}
.header-search-input {
  width: 100%;
  height: 1.75rem;
  border: 0 none;
  padding: 0 2.5rem 0 0.7188rem;
  background: 0 0;
  font-size: 0.8438rem;
}
.header-search-btn_clear {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.7188rem;
  margin: auto;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  line-height: 0.75rem;
  background: 0 0;
  border: 0 none;
  font-size: 1.25rem;
}
.header-search-btn_search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.875rem;
  margin: auto;
  border: 0 none;
  background: 0 0;
}
.header-search-btn_searchBg {
  width: 0.75rem;
  height: 0.75rem;
  background: url(../images/icon-search.png) center center no-repeat;
  background-size: 100%;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:15:09
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-30 14:11:40
*/
.mb20 {
  margin-bottom: 20px;
}

.main {
  z-index: 1;
}
.main-content {
  padding-bottom: 1.0312rem;
  background-color: #fff;
}
.main-content::-webkit-scrollbar {
  display: none;
}
.main-content-goods {
  background-color: #f9f9f9;
  padding-bottom: 1.0312rem;
}
.main-content-goods::-webkit-scrollbar {
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container .swiper-slide {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container .swiper-pagination {
  position: absolute;
  z-index: 2;
  bottom: 0rem;
  width: 100%;
  text-align: center;
  right: 0;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 0.4688rem;
  height: 0.4688rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 .12rem;
  cursor: pointer;
  box-shadow: -0.1rem 0.1rem 0.1rem #b6b6b6 inset;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  box-shadow: -0.1rem 0.1rem 0.1rem #4a4a4a inset;
  background: #B21E1C;
}

.popUp {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
}
.popUp-inner {
  padding: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  border: 4px solid #eee;
  border-radius: 10px;
}
.popUp-inner .close {
  color: #bfbfbf;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  border-radius: 15px;
  border: 4px solid #eee;
  background-color: #fff;
}
.popUp-inner p {
  white-space: nowrap;
  text-align: center;
}
.popUp-inner p span {
  color: red;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:15:38
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-04 15:54:36
*/
.footer {
  border-top: solid #dbdbdb;
  padding: 1.4062rem 2rem;
  margin-bottom: 3.125rem;
  text-align: center;
  color: #5f5f5f;
  background-color: #fff;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .footer {
      border-width: 0.5px;
    }
  }
}

.footer-backtop-circle {
  width: 2.4062rem;
  height: 2.4062rem;
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  z-index: 999;
  display: none;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:17:32
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-18 09:26:55
*/
.index-slider {
  overflow: hidden;
}
.index-slider img {
  width: 100%;
  height: 100%;
}

.homeNav, .skinNav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.1875rem 1.9375rem;
}
.homeNav-item {
  display: block;
  text-align: center;
}
.homeNav-item-icon {
  width: 2rem;
}
.homeNav-item-title {
  color: #333;
  font-weight: 300;
}

.imgTitle {
  padding-top: 0.9375rem;
  text-align: center;
}
.imgTitle-title_sub {
  display: inline-block;
  width: 9.375rem;
  border-top: solid #dbdbdb;
  padding: 0.1562rem 0;
  color: #666;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .imgTitle-title_sub {
      border-width: 0.5px;
    }
  }
}

.imgSection a {
  display: block;
}
.imgSection a img {
  width: 100%;
}

.skinNav {
  padding: 0 0.375rem;
}
.skinNav a {
  display: block;
  width: 20%;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:27:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-27 12:02:13
*/
.headerBar {
  height: 1.875rem;
  line-height: 1.875rem;
  position: relative;
  color: #086347;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.headerBar-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 1.875rem;
  width: 1.875rem;
}
.headerBar-back::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1.0312rem;
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border: solid #086347;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
}
.headerBar-title {
  text-align: center;
  line-height: 1.875rem;
}

.header-ad {
  padding-bottom: 0.625rem;
}
.header-ad img {
  width: 100%;
}

.topList-item {
  padding: 0 0 1.875rem 0;
}
.topList-item a {
  width: 100%;
  display: inline-block;
}
.topList-item a img {
  width: 100%;
}

.toplist-item-double {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.toplist-item-double a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1%;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:28:48
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-18 09:31:43
*/
.goodsNav-item {
  position: relative;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5938rem;
}
.goodsNav-item img {
  width: 100%;
}
.goodsNav-item-title {
  width: 50%;
  height: 50%;
  padding: 0.2188rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.3);
}
.goodsNav-item-title span {
  width: 7.5rem;
  color: #fff;
}
.goodsNav-item-details {
  position: absolute;
  top: 0.5938rem;
  right: 1.0938rem;
  color: #fff;
}
.goodsNav-item-details::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -0.75rem;
  display: inline-block;
  width: .4rem;
  height: .4rem;
  border: solid #fff;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(135deg);
}
.goodsNav-item-box {
  width: 100%;
  height: 100%;
  border: solid #fff;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .goodsNav-item-box {
      border-width: 0.5px;
    }
  }
}
.goodsNav-item-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

/*
* @Author: Administrator
* @Date:   2017-04-17 18:19:41
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-30 16:02:43
*/
.goodsNav-banner img {
  width: 100%;
}

.goodsNav-title {
  margin: 0.625rem 0 0.8438rem;
  background-color: #fff;
  height: 2.125rem;
  line-height: 2.125rem;
  padding-left: 1.0625rem;
  position: relative;
}
.goodsNav-title-inner {
  color: #333;
  line-height: 2.125rem;
}
.goodsNav-title-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.2188rem;
  height: 1.4062rem;
  background-color: #086347;
}

.goodsNav-goodsInfo {
  min-height: 16.5rem;
  padding: 0.625rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.goodsNav-goodsInfo-left {
  width: 45%;
  float: left;
  text-align: center;
}
.goodsNav-goodsInfo-left .hplEn {
  width: 5.125rem;
  display: block;
}
.goodsNav-goodsInfo-left_imgbox {
  padding: 0.625rem 0.625rem 0 0.625rem;
}
.goodsNav-goodsInfo-left_goodsNameBox {
  font-size: 0.5312rem;
  color: #000;
}
.goodsNav-goodsInfo-left_btn {
  margin-top: 0.5rem;
  padding: 0 0.75rem;
  line-height: 1.25rem;
  border-radius: 3px;
  color: #fff;
  background-color: #00b68d;
}
.goodsNav-goodsInfo-left_btn:hover, .goodsNav-goodsInfo-left_btn:active {
  background-color: #00d0a1;
}
.goodsNav-goodsInfo-right {
  padding-top: 1.0938rem;
  overflow: hidden;
}
.goodsNav-goodsInfo-right_title {
  font-size: 0.6875rem;
  padding-bottom: 0.5625rem;
  color: #086347;
}
.goodsNav-goodsInfo-right_details {
  overflow: hidden;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.goodsNav-goodsList {
  padding-top: 1.25rem;
}
.goodsNav-goodsList .swiper-container {
  padding-bottom: 4px;
}
.goodsNav-goodsList li {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:21:59
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-28 16:02:12
*/
.b100 {
  bottom: 3.125rem;
}

.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.125rem;
  line-height: 3.125rem;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.bottom-bar-left {
  float: left;
  display: inline-block;
  width: 40%;
}
.bottom-bar-left a {
  display: inline-block;
  float: left;
  width: 50%;
}
.bottom-bar-left a img {
  width: 1.25rem;
  height: 1.25rem;
}
.bottom-bar-left .border-right {
  border-right: solid #dbdbdb;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .bottom-bar-left .border-right {
      border-width: 0.5px;
    }
  }
}
.bottom-bar-right {
  float: left;
  display: inline-block;
  width: 60%;
}
.bottom-bar-right a {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100%;
  color: #fff;
}
.bottom-bar-right_addCart {
  background-color: #0d9c71;
}
.bottom-bar-right_buy {
  background-color: #086347;
}

.mainImg {
  background-color: #FFF;
  text-align: center;
}
.mainImg-img {
  padding: 0.9375rem;
}
.mainImg-img img {
  width: 70%;
}
.mainImg-info {
  height: 3.5rem;
}
.mainImg-info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.mainImg-info-name {
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainImg-info-sub {
  display: inline-block;
  width: 6.6562rem;
  border-top: solid #dbdbdb;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .mainImg-info-sub {
      border-width: 0.5px;
    }
  }
}
.mainImg-info-price {
  color: #d20010;
}

.buyNum {
  background-color: #fff;
  border-bottom: solid #dbdbdb;
  margin: 0.5625rem 0;
  padding: 0 0.9375rem;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .buyNum {
      border-width: 0.5px;
    }
  }
}
.buyNum .typeBox {
  height: 2.5rem;
  line-height: 2.5rem;
}
.buyNum .typeBox .typeInner {
  display: inline-block;
  padding: 0 0.9375rem;
  border: 1px solid #888;
  color: #888;
  line-height: 1.8;
  margin-right: 0.9375rem;
}
.buyNum .typeBox .act {
  border-color: #086347;
  color: #086347;
}
.buyNum .numBox {
  height: 2.5rem;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.buyNum .numBox div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1%;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .buyNum .numBox {
      border-width: 0.5px;
    }
  }
}
.buyNum-title {
  color: #086347;
}
.buyNum-btn {
  position: relative;
  text-align: right;
}
.buyNum-btn-box {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1.5625rem;
  display: inline-block;
  height: 1.5312rem;
  line-height: 1.5312rem;
  border: 1px solid #086347;
  border-radius: 0.75rem;
  overflow: hidden;
}
.buyNum-btn-box span {
  display: inline-block;
  height: 100%;
  text-align: center;
}
.buyNum-btn-num {
  display: inline-block;
  width: 2.4062rem;
  border-left: 1px solid #086347;
  border-right: 1px solid #086347;
}
.buyNum-btn-sub {
  width: 1.5625rem;
  color: #086347;
}
.buyNum-btn-add {
  width: 1.5625rem;
  height: inherit;
  color: #086347;
}

.nav-menu {
  height: 3.0938rem;
  line-height: 3.0938rem;
  background-color: #fff;
}
.nav-menu-item {
  font-size: 1.2em;
  font-weight: 700;
  float: left;
  display: inline-block;
  height: 3.0938rem;
  text-align: center;
  width: 7.8125rem;
}
.nav-menu-item.current {
  border-bottom: 0.1875rem solid #086347;
}

.nav-content {
  margin-top: 0.625rem;
  padding: 0.7188rem 0.7188rem;
  background-color: #fff;
  border-bottom: solid #dbdbdb;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .nav-content {
      border-width: 0.5px;
    }
  }
}
.nav-content-item {
  display: none;
}
.nav-content-item.current {
  display: block;
}
.nav-content p {
  line-height: 1.4062rem;
  color: #666;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:17:32
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-23 14:38:38
*/
.goodsCart .waitGoodsCart-item {
  padding: 1.0938rem 0 1.2188rem 3.125rem;
  background-color: #fff;
  position: relative;
  margin-bottom: 0.625rem;
}
.goodsCart .waitGoodsCart-item .buyNumSum-btn-box {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #086347;
  border-radius: 0.75rem;
  overflow: hidden;
}
.goodsCart .waitGoodsCart-item .buyNumSum-btn-box span {
  display: inline-block;
  height: 100%;
  text-align: center;
}
.goodsCart .waitGoodsCart-item .buyNumSum-btn-num {
  display: inline-block;
  width: 2.4062rem;
  border-left: 1px solid #086347;
  border-right: 1px solid #086347;
}
.goodsCart .waitGoodsCart-item .buyNumSum-btn-sub, .goodsCart .waitGoodsCart-item .buyNumSum-btn-add {
  width: 1.5625rem;
}
.goodsCart .waitGoodsCart-item .goodsCart-sum {
  color: #086347;
  position: absolute;
  right: 0.8438rem;
  bottom: 0.5312rem;
}
.goodsCart .waitGoodsCart-item .goodsCart-cancle {
  position: absolute;
  top: 0.8438rem;
  right: 0.8438rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #d8d8d8;
  color: #fff;
  font-size: 1rem;
}

.checkbox {
  line-height: 1;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.0rem;
  margin: auto;
}
.checkbox .check {
  position: absolute;
  left: -9999em;
}
.checkbox .icon-checked {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  border: 1px #888 solid;
}
.checkbox .check:checked + .icon-checked {
  background-color: #086347;
  border-color: #086347;
}
.checkbox .check:checked + .icon-checked::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.25rem;
  height: 0.5625rem;
  background: transparent;
  border: 0.125rem solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settlementBox {
  height: 2.9375rem;
  line-height: 2.9375rem;
  background-color: #fff;
}
.settlementBox-info {
  position: relative;
  float: left;
  width: 80%;
  padding: 0 1.4062rem 0 2.8125rem;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.settlementBox-info-total {
  line-height: 1.5;
  text-align: right;
}
.settlementBox-info-total .total-price {
  color: #086347;
}
.settlementBox-info-total .info {
  font-size: .8em;
  color: #888;
}
.settlementBox-btn {
  float: left;
  width: 20%;
  background-color: #086347;
  text-align: center;
  color: #fff;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:22:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-18 14:05:53
*/
.userHeader {
  min-height: 9.3125rem;
  overflow: hidden;
  background: transparent url("../images/userbg.jpg") center no-repeat;
  background-size: cover;
  font-size: 16px;
}
.userHeader-middle {
  height: 6.7812rem;
  line-height: 6.7812rem;
  padding-left: 1.875rem;
}
.userHeader-middle .avatarBox {
  line-height: 6.7812rem;
  display: inline-block;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  background: url(../images/user-avatar-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  vertical-align: middle;
}
.userHeader-img {
  width: 3.8125rem;
  border-radius: 50%;
  padding: 0.15rem;
  border: 1px #bcbcbc dashed;
}
.userHeader-address {
  float: right;
  color: #000;
  position: relative;
  padding-right: 1.5625rem;
}
.userHeader-address::after {
  color: #000;
}
.userHeader-id {
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #000;
  opacity: .4;
  color: #fff;
  padding: 0 1.25rem;
}

.userTitle {
  height: 2.75rem;
  line-height: 2.75rem;
  padding-left: 1.0625rem;
  color: #666;
  background-color: #fff;
}

.userNav {
  background-color: #fff;
  text-align: center;
}
.userNav-list {
  height: 4.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.userNav-list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1%;
}
.userNav-list li:not(:first-of-type) {
  margin-left: 10px;
}
.userNav-item a p {
  color: #000;
  line-height: 2;
}
.userNav-item-img {
  height: 1.4375rem;
}
.userNav-item-img img {
  height: 100%;
}

/* waitGoods.html */
.waitGoods-wrap {
  margin: 0.5625rem 0 1.0938rem 0;
  background-color: #fff;
}
.waitGoods-wrap .waitGoods-header {
  height: 3.0312rem;
  line-height: 3.0312rem;
  padding: 0 0.75rem 0 1.0625rem;
}
.waitGoods-wrap .waitGoods-header-right {
  float: right;
  color: #086347;
}

.waitGoods-list .waitGoods-item {
  padding: 1.0938rem 1.5625rem 1.2188rem 2.3125rem;
}
.waitGoods-list .waitGoods-item .goods-sum {
  position: absolute;
  color: #086347;
  font-size: 1.2em;
  right: 1.5625rem;
  bottom: 0.5938rem;
  line-height: 1;
}
.waitGoods-list .waitGoods-item-img {
  width: 5.125rem;
  height: 5.125rem;
  float: left;
  margin-right: 1.1875rem;
}
.waitGoods-list .waitGoods-item-info {
  color: #000;
  overflow: hidden;
}
.waitGoods-list .waitGoods-item-info-tit {
  line-height: 2;
}
.waitGoods-list .waitGoods-item-info-type {
  display: inline-block;
  color: #333;
  padding: 0 0.875rem;
  font-size: 0.8em;
  line-height: 1.8;
  position: relative;
  margin-right: 0.7812rem;
}
.waitGoods-list .waitGoods-item-info-type::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  border: 1px solid #333;
}
.waitGoods-list .waitGoods-item-info-type-selted {
  color: #086347;
}
.waitGoods-list .waitGoods-item-info-type-selted::before {
  border-color: #086347;
}
.waitGoods-list .waitGoods-item-info-pri {
  margin-top: 0.7812rem;
}
.waitGoods-list .waitGoods-item-info-pri .currentPri {
  color: #086347;
  margin-right: 0.4688rem;
}
.waitGoods-list .waitGoods-item-info-pri .CostPri {
  color: #888;
  font-size: .8em;
}

.goods-NumPrice {
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: right;
  padding: 0 1.4375rem;
}

.noBorder::after {
  border: 0;
}

.order-control {
  height: 3.3438rem;
  line-height: 3.3438rem;
  padding: 0 0.7188rem 0 3.4062rem;
  text-align: right;
}
.order-control .more {
  float: left;
  color: #888;
}
.order-control button {
  width: 4.2812rem;
  height: 2.0rem;
  line-height: 2.0rem;
  border-radius: 1.0rem;
  padding: 0;
}
.order-control .btn-cancleOrder {
  color: #333;
  background-color: #fff;
  border-color: #333;
}
.order-control .btn-cancleOrder:hover, .order-control .btn-cancleOrder:active {
  background-color: #f2f2f2;
}
.order-control .btn-pay {
  margin-left: 0.5938rem;
  color: #ff6828;
  background-color: #fff;
  border-color: #ff6828;
}
.order-control .btn-pay:hover, .order-control .btn-pay:active {
  background-color: #f2f2f2;
}

.emptyOrderInfo {
  text-align: center;
  height: 80vh;
}
.emptyOrderInfo-img {
  margin-top: 3.875rem;
  width: 8.4375rem;
  height: 8.4375rem;
}
.emptyOrderInfo-tit {
  margin-top: 1.25rem;
  line-height: 1;
}
.emptyOrderInfo-desc {
  margin-top: 1.25rem;
  color: #888;
}

/*
* @Author: Administrator
* @Date:   2017-04-26 15:40:34
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-27 11:14:54
*/
.auSection {
  text-align: center;
  border-bottom: solid #dbdbdb;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .auSection {
      border-width: 0.5px;
    }
  }
}
.auSection .auBtn {
  display: inline-block;
  color: #000;
  height: 1.2188rem;
  line-height: 1.2188rem;
  width: 4.7812rem;
  border: solid #000;
  font-size: 0.75rem;
  margin: 1.25rem 0;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .auSection .auBtn {
      border-width: 0.5px;
    }
  }
}

.auSection:last-of-type {
  border: none;
}

/*
* @Author: Administrator
* @Date:   2017-04-26 17:21:27
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-01 16:06:34
*/
.SearchResult-list-item {
  padding: 0.5rem;
  position: relative;
  border-bottom: solid #dbdbdb;
}
@supports (border-width: 0.5px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 3) {
    .SearchResult-list-item {
      border-width: 0.5px;
    }
  }
}
.SearchResult-list-item_img {
  position: absolute;
  display: inline-block;
  width: 6.8125rem;
  height: 6.8125rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.SearchResult-list-item_info {
  padding-left: 7.4688rem;
  padding-right: 2.0rem;
}
.SearchResult-list-item_info_title {
  color: #444;
  line-height: 2.0625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.SearchResult-list-item_info_title_desc {
  color: #888;
  font-size: 0.5625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.SearchResult-list-item_info .star-div {
  height: 20px;
  line-height: 20px;
  margin: 0.5rem 0;
}
.SearchResult-list-item_info .star-div li {
  height: 20px;
  width: 75px;
  background: url(../images/star.png);
}
.SearchResult-list-item_info .star-div .star5 {
  background-position: 0 -113px;
}
.SearchResult-list-item_info .star-div .star4 {
  background-position: 0 -114px;
}
.SearchResult-list-item_info .star-div .star5 {
  background-position: 0 -114px;
}
.SearchResult-list-item_info .star-div .star2 {
  background-position: 0 -114px;
}
.SearchResult-list-item_info .star-div .star1 {
  background-position: 0 -114px;
}
.SearchResult-list-item_info .product-price {
  color: #222;
  font-size: 0.6875rem;
  font-weight: 700;
}

.SearchResult-list-item:last-child {
  border-bottom: none;
}

/*
* @Author: Administrator
* @Date:   2017-05-02 13:54:12
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-02 14:00:59
*/
.textWrap {
  padding: 0 1.125rem;
  text-align: center;
}
.textWrap .imgTitle {
  padding: 0.9375rem 0;
}
.textWrap .imgTitle-title_sub {
  width: 90%;
  font-size: 10px;
  line-height: 2;
}
.textWrap p {
  text-indent: 2em;
  text-align: justify;
}
.textWrap img {
  width: 90%;
  padding: 1.5625rem 0;
}

/*
* @Author: Administrator
* @Date:   2017-05-16 16:45:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-17 14:32:22
*/
.orderDetails-wrap {
  margin: 0.5312rem 0 0.7188rem;
  background-color: #fff;
}
.orderDetails-wrap .orderDetails-header, .orderDetails-wrap .orderDetails-header-info {
  padding: 1.0625rem;
}
.orderDetails-wrap .orderDetails-header::after {
  left: 1.0312rem;
}
.orderDetails-wrap .orderDetails-header-info .userInfo {
  line-height: 2;
  font-size: 1.2em;
}
.orderDetails-wrap .orderDetails-header-info .express-total {
  float: right;
  font-weight: 700;
}
.orderDetails-wrap .orderDetails-header-info .textareaBox {
  width: 100%;
  min-height: 8.125rem;
  border-color: #086347;
}
.orderDetails-wrap .colorhpl {
  color: #086347;
}

.settlementBox-info-left {
  width: 67%;
  padding-left: 1.25rem;
}
.settlementBox-info-left .settlementBox-info-total {
  float: left;
  line-height: inherit;
  text-align: left;
  padding-top: 0;
}
.settlementBox-info-left .settlementBox-info-total .heji {
  font-size: 1.2em;
}

.settlementBox-btn-right {
  width: 33%;
}

/*
* @Author: Administrator
* @Date:   2017-04-13 10:30:40
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-22 16:10:36
*/

/*# sourceMappingURL=app.css.map */